html,body{
    margin:0;
    padding:0;
    width:100%;
    font-family:Courier New, Courier, 'monospace';
  }
.act{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:800px;
    top:'-10px';
    background-image: url(https://images.pexels.com/photos/16050137/pexels-photo-16050137/free-photo-of-white-tulips-in-garden.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.add-actions {
    color:white;    
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.426);
    
}
